<footer>
        <p><a href="https://vk.com/raketanalunu" target="_blank"><i class="fa fa-vk fa-lg"></i></a><!--
        --><a href="https://www.instagram.com/raketanalunu" target="_blank"><i class="fa fa-instagram fa-lg"></i></a><!--
        --><a href="https://github.com/raketanalunu" target="_blank"><i class="fa fa-github fa-lg"></i></a><!--
        --><a href="https://t.me/raketanalunu" target="_blank"><i class="fa fa-telegram fa-lg"></i></a></p>
        <p>Made with <i class="fa fa-heart fa-lg heart"></i> in Saint-Petersburg 2016</p>
</footer>