<div class="background"></div>
    <header>
        <input type="checkbox" id="menu-checkbox" />
        <nav role="navigation" id="nav-container">
            <label for="menu-checkbox" class="toggle-button" onclick><i class="fa fa-bars fa-lg"></i></label>
            <ul class="menu">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact" >Contact</a></li>
            </ul>    
        </nav>
        <h1><big>Evgenia Kaneva</big><br><small>Frontend Developer</small></h1>       
    </header>